.header{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #999;
    padding: 20px;
}
.header-title{
    font-size: 24px;
    font-weight: 600;
    border: 3px solid #777;
    padding: 10px;
    border-radius: 25px;
    cursor: pointer;
    color:#464646;
}
.header-messages-count,
.header-users-count{
    color: #dadada;
    font-weight: 600;
    cursor: pointer;
}