.message-input-button{

    background: #ffe6e6;
    border-radius: 7px;
    font-size: 15px;
    border: 2px solid rgb(31, 31, 31);
    position: relative;
     margin-left: 15px;
    background: #999;
    cursor: pointer;
}


.message-input-button:hover{
    transform: scale(1.06);
    transition: .5s;
}
.message-input{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #efefef;
    padding-bottom: 15px;
    padding-top: 15px;
    box-shadow: inset 0px 0px 5px 5px #bbbbbbab;

    bottom: 0px;
    position: fixed;
}
.message-input-text{
width: 90%;
background-color: #efefef;
font-size: 20px;
border: 2px solid #999;
border-radius: 8px;
margin-left: 15px;
}