.edit-message-modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    /* height: 250px; */
    width: 70%;
    background-color: aliceblue;
    border: 3px solid gray;
    border-radius: 15px;
}
.edit-message-modal>input{
    display: block;
    margin: 20px;
    width: 80%;
    border-radius: 10px;
    font-size: 16px;
    padding: 15px;
}
.edit-message-modal>span{
    font-size: 20px;
    display: block;
    margin-top: 10px;
    width: 100%;
    text-align: center;

}
.button-flex-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    width: 100%;
}
.button-flex-container>button{
    margin-right: 20px;
    border: 2px solid rgb(31, 31, 31);
    background: #d2d2d2;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}
.button-flex-container>button:nth-of-type(2){
    margin-right: 32px;
}

.button-flex-container>button:hover{
    transition: .5s;
    background: #999;
}